.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
.env
*.map
*.ts
!**/tsconfig.json
!**/package.json
**/*.md
!README.md
!INSTALL.md
**/.gitkeep
node_modules/**
test/**
coverage/**
*.log
*.pid
*.seed
*.pid.lock
*.tsbuildinfo
build.sh
proj.md